@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/HelveticaNeueRegular.otf") format("opentype");
}

.game-container {
    position: relative;
}

.back-button {
    position: absolute;
    top: 72px;
    left: 72px;
    height: 24px;
    flex-shrink: 0;
    cursor: pointer;
}

.pause-button {
    position: absolute;
    top: 72px;
    right: 72px;
    height: 24px;
    flex-shrink: 0;
    cursor: pointer;
}

.logo {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 178px;
    height: auto;
}

.level-text {
    position: absolute;
    top: 72px;
    left: 400px;
    color: #4A90E2;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.408px;
}

.timer-text {
    position: absolute;
    top: 72px;
    right: 400px;
    color: #4A90E2;
    text-align: right;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 3px;
}